html,
body {
    height: 100%;
    min-width: 320px;
    font-family: 'Roboto Condensed';
    background: transparent;
}
/* Фоновая картинка */
html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * Responsive images
*/
img {
    max-width: 100%;
    height: auto;
}

a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-align: center;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 8px 0;
    color: #5e402d;
}

h3 {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    font-weight: 300;
    color: #5e402d;
}

ul {
    margin: 0;
    padding: 0;
}

/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
    cursor: pointer;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
    height: 0;
    width: 0;
    visibility: hidden;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*Шапка*/
.row--with-paddings {
    padding: 20px 15px 0;
}

header {
    padding: 0 0 10px;
    margin-bottom: 40px;
}

section {
    box-shadow: 0 2px 4px 0 #444;
    background-color: #fff;
}

section + .row {
    padding-bottom: 40px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}

.phone {
    margin-top: 20px;
}

.phone__number {
    font-size: 30px;
    font-weight: 600;
    font-family: 'CorinthiaRegular';
}
.socials {
    margin-top: 25px;
}
@media (min-width: 767px) {
    .socials {
        margin-top: 0;
    }
}
.socials__item {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 130px;
    background-color: #5e402d;
    background-position: center center;
    background-repeat: no-repeat;
}

.socials__item--instagram {
    background-image: url('../img/instagram.png');
    margin-right: 20px;
}

.socials__item--vk {
    background-image: url('../img/vk.png');
}
/*Меню*/
.menu {
    width: 100%;
    height: auto;
    margin-top: 15px;
    float: left;
}
.menu ul {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}
.menu ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
.menu ul li a {
    color: #5e402d;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    float: left;
}
.menu ul li a:hover {
    color: #5ab0da;
}
.menu ul li a:active {
    color: #ccc;
}
/* Второй уровень вложенности */
.menu ul li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    
    background: #FFF;
    -webkit-box-shadow: 0 0 4px #8B8B8B;
            box-shadow: 0 0 4px #8B8B8B;
}
.menu ul li > ul li {
    width: 100%;
}
.menu ul li > ul li a {
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);;
    border-right: none;
}
.menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

/* Третий уровень вложенности */
.menu ul li > ul li ul {
    left: 100%;
    top: 0;
}
/* Стрелочка у пунктов имеющих дочерние элементы */
@media (min-width: 767px) {
    .menu-item-has-children:after {
        position: absolute;
        z-index: 2;
        font-family: FontAwesome;
        content: "\f0d7";
        right: 5px;
        top: 10px;
        color: #5e402d;
    }
}
@media (min-width: 992px) {
    .menu-item-has-children:after {
        top: 15px;
    }
    .menu ul li a {
        font-size: 22px;
    }
}

/*Наши работы*/

.jobs {
    list-style: none;
}

.jobs li {
    max-width: 500px;
    margin-bottom: 30px;
    padding: 5px 15px 10px;
    border: 1px solid #eee;
    box-shadow: 0 6px 6px -6px #444;
}

.jobs li img {
    width: 100%;
    margin-bottom: 10px;
}

.jobs h3{
    padding-top:5px;
}

.row h2 {
    width: 100%;
    text-align: center;
}

/*Наши материалы*/
.materials {
    list-style: none;
}

.materials li {
    max-width: 500px;
    margin-bottom: 30px;
    padding: 5px 15px 10px;
    border: 1px solid #eee;
    box-shadow: 0 6px 6px -6px #444;
}

.materials__item img {
    width: 100%;
    margin-bottom: 10px;
}

.coursive {
    font-style: italic;
}

.owl-carousel {
    display: none !important;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 #444;
    margin-bottom: 10px;
}

.owl-carousel__item{
    padding:30px;

}

.owl-carousel__item h2 {
    font-family: Arabic;
}

.carousel-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.carousel-text a{
    align-self: flex-end;
}

.carousel-text button {
    display: inline-block;
    height: 50px;
    width: 200px;
    background-color: #5e402d;
    color: #fff;
    font-weight: 700;
    outline: none;
    border-radius: 5px

}

.owl-carousel__item img {
    background-color: #fff;
    box-shadow: 1px 1px 1px 2px rgba(1, 1, 0, .1);
    padding: 4px;
    flex-shrink: 2;
}

.owl-carousel .owl-item img{
    width: 40% !important;
}

/*Галерея*/
.gallery-wrapper{
    box-shadow: none;
}

.gallery-wrapper__gallery{
    padding:5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    list-style: none;
}

.gallery-wrapper__gallery li{
    width:100%;
    height: 100%;
    margin-bottom: 10px;
    display: inline-block;
    list-style: none;
}



.gallery-wrapper__gallery li img{
    width:100%;
    padding: 5px;
    box-shadow: 0px 1px 8px 0 #777;

}
@media (min-width: 768px) {
    .owl-carousel {
        display: block !important;
    }
}

@media (min-width: 576px) {
    .jobs li, .materials li {
        width: 300px;
    }

    .gallery-wrapper__gallery li{
        width:30%;
        height: 100%;
    }
    .gallery-wrapper__gallery{
        flex-direction: row;
    }

    .gallery-wrapper__gallery li:not(:nth-child(3n)){
        margin-right: 5%;
    }
}

/* Основная часть шаблона */
.main-wrapper {
    box-shadow: 0px 1px 8px 0 #777;
    padding: 30px 30px 30px;
    background-color: #FFF;
}

.main-wrapper>.row>.col-12{
    box-shadow: none;
}

.container--without-paddings {
    padding: 0;
}

@media (min-width: 1200px) {
    .container--without-paddings {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.inner-wrapper {
    margin-bottom: 60px;
    padding: 20px 20px 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

@media (min-width: 960px) {
    .inner-wrapper {
        margin-bottom: 0;
    }
}

.inner-wrapper__header {
    color: #5e402d;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 17px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
}

/* Сайдбар */
.service-item {
    margin-bottom: 60px;
}

.service-item__header {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
    color: #444;
    font-size: 25px;
    line-height: 2;
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.service-item__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: inset 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 20px;
}

.service-item__list li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.service-item__list li:last-child {
    border-bottom: none;
}

.service-item__list li a {
    color: #5e402d;
}

.service-item__list li a:hover {
    color: #5ab0da;
}

.service-item__header--ad {
    border-top: none;
}