html,
body {
  height: 100%;
  min-width: 320px;
  font-family: 'Roboto Condensed';
  background-color: #eee;
}
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
a {
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h2{
    font-family:'Lobster', cursive;
    font-size:30px;
    text-align: center;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding:8px 0;
    color:#5e402d;
}
h3{
    font-family:'Lobster', cursive;
    font-size:1.5em;
    font-weight: 300;
    color:#5e402d;
}
ul {
  margin: 0;
  padding: 0;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*Шапка*/
.row--with-paddings {
    padding:20px 15px 0;
}

header{
    padding: 0 0 10px;
    margin-bottom: 60px;
}

section{
    box-shadow: 0 2px 4px 0 #444;
    background-color: #fff;
}

section+.row{
    padding-bottom: 40px;
}

footer{
    margin-top: 40px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: #fff;
}
.phone{
    margin-top: 20px;
}

.phone__number{
    font-size: 30px;
    font-weight: 600;
    font-family: 'CorinthiaRegular';
}

.socials__item{
    display: inline-block;
    height:50px;
    width:50px;
    border-radius: 130px;
    background-color: #5e402d;
    background-position: center center;
    background-repeat: no-repeat;
}

.socials__item--instagram{
    background-image: url('../img/instagram.png');
    margin-right: 20px;
}

.socials__item--vk{
    background-image: url('../img/vk.png');
}


/*Меню*/
    .menu ul{
        list-style: none;
    }

    .menu>ul>li{
        position:relative;
        display: inline-block;
        margin-right: 40px;
    }

    .menu li:hover{
        color:#5e403d;
    }

    .dropdown li:hover{
        background-color: #eeeeee ;
    }

    .menu a{
        color: #5e402d;
        font-size: 25px;
    }
    .dropdown{
        display: none;
        position: absolute;
        z-index: 10;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 #444;

    }
    .dropdown li{
        padding:10px;
        display: block;
    }


/* Слайдер*/

.carousel{
    margin:5px -15px;
    padding:15px;
}

.carousel-inner{
    /*overflow: visible;*/
}

.carousel-item, .carousel-item.active{
     display: flex;
 }

.carousel-indicators li{
    color: #5e402d;
}
/*Наши работы*/

.jobs{
    list-style: none;
}

.jobs__item{
    width: 100%;
    margin-bottom: 30px;
    padding: 5px 15px 10px;
    border: 1px solid #eee;
    box-shadow: 0 6px 6px -6px #444;
}

.jobs__item img{
    width:100%;
    margin-bottom: 10px;
}

.row h2{
    width: 100%;
    text-align: center;
}

/*Наши материалы*/
.materials{
    list-style: none;
}

.materials__item{
    width: 100%;
    margin-bottom: 30px;
    padding: 5px 15px 10px;
    border: 1px solid #eee;
    box-shadow: 0 6px 6px -6px #444;
}

.materials__item img{
    width:100%;
    margin-bottom: 10px;
}

.coursive{
    font-style: italic;
}

.slider{
    display: none;
    padding:30px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 #444;
}

.slider__text h2{
    font-family: Arabic;
}

.slider__text button{
    float:right;
    display: inline-block;
    height:50px;
    width:200px;
    background-color: #5e402d;
    color: #fff;
    font-weight: 700;
    outline: none;
    border-radius: 5px;

}

.slider__picture img{
    width:100%;
    position:relative;
    top:-50px;
    background-color: #fff;
    box-shadow:1px 1px 1px 2px rgba(1, 1, 0, .1);
    padding: 4px;
}

@media (min-width: 576px) {
    .jobs__item .materials__item{
        width:300px;
    }
    
    .slider{
        display: flex;
    }
}
/* Основная часть шаблона */
.main-wrapper {
  box-shadow: 0px 1px 8px 0 #777;
  padding: 30px 30px 30px;
  background-color: #FFF;
}
.container--without-paddings {
  padding: 0;
}
@media (min-width: 1200px) {
  .container--without-paddings {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.inner-wrapper {
  margin-bottom: 60px;
  padding: 20px 20px 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: inset 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}
@media (min-width: 960px) {
  .inner-wrapper {
    margin-bottom: 0;
  }
}
.inner-wrapper__header {
  color: #5e402d;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 17px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 15px;
  font-family:'Lobster', cursive;
}
/* Сайдбар */
.service-item {
  margin-bottom: 60px;
}
.service-item__header {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
  color: #444;
  font-size: 25px;
  line-height: 2;
  padding-bottom: 8px;
  margin-bottom: 30px;
}
.service-item__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: inset 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid #ddd;
  padding: 20px;
}
.service-item__list li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
.service-item__list li:last-child {
  border-bottom: none;
}
.service-item__list li a {
  color: #5e402d;
}
.service-item__list li a:hover {
  color: #5ab0da;
}
.service-item__header--ad {
  border-top: none;
}